{% extends 'FlobFoundationDemoBundle::base.html.twig' %}
{% form_theme form 'FlobFoundationBundle:Form:foundation_form_div_layout.html.twig' %}

{% set version_foundation = '5.5.0' %}
{% set version_font_awesome = '4.2.0' %}
{% set version_modernizr = '2.8.3' %}
{% set version_jquery = '2.1.3' %}

{% block bodyclass %}antialiased hide-extras{% endblock %}

{% block title %}FlobFoundationBundle Showcase{% endblock %}

{% block stylesheets %}

    {# Additionnal meta #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Add the CSS from CDN #}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/{{ version_foundation }}/css/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/{{ version_foundation }}/css/foundation.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ version_font_awesome }}/css/font-awesome.min.css" />

    {# Add the CSS from Bundles #}
    {% stylesheets
    '@FlobFoundationBundle/Resources/public/css/*'
    '@FlobFoundationDemoBundle/Resources/public/css/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {# Js lib to be loaded in the head #}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/{{ version_modernizr }}/modernizr.min.js"></script>

{% endblock %}

{% block body %}

    <nav role="navigation" class="top-bar" data-topbab>
        <ul class="title-area">
            <li class="name"><h1><a href="#">FlobFoundationBundle</a></h1></li>
            <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li><a href="https://github.com/florianbelhomme/FlobFoundationBundle">The bundle on GitHub</a></li>
                <li class="divider"></li>
                <li><a href="http://florianbelhomme.com">About me</a></li>
            </ul>
        </section>
    </nav>

    <div class="row" id="menus">
        <div class="small-12 columns">
            <h3>Menu</h3>
            <p>TEST.</p>

            <h4>TopMenu</h4>
            <h4>PHP</h4>
            <script src="https://gist.github.com/florianbelhomme/1670b30d4a86d214ac32.js"></script>
            <h4>Twig</h4>
            <script src="https://gist.github.com/florianbelhomme/372f54ee1b4edf2fd10b.js"></script>
            <h4>Rendered HTML</h4>
            {# The template is optional, there is a option in the configuration to use it by default #}
            {{ knp_menu_render('FlobFoundationDemoBundle:DemoMenuBuilder:main', { template: 'FlobFoundationBundle:Menu:foundation_knp_menu.html.twig' }) }}

            <h4>Breadcrumb (generated automatically from TopMenu)</h4>
            <h4>Twig</h4>
            <script src="https://gist.github.com/florianbelhomme/7ec59bd82da07fe9fbb5.js"></script>
            <h4>Rendered HTML</h4>
            {# The template is optional, there is a option in the configuration to use it by default #}
            {{ flob_breadcrumb_render('FlobFoundationDemoBundle:DemoMenuBuilder:main', { template: 'FlobFoundationBundle:Menu:foundation_breadcrumb.html.twig' }) }}

            <h4>Sidebar</h4>
            <div class="row">
                <div class="small-8 columns">
                    <h4>PHP</h4>
                    <script src="https://gist.github.com/florianbelhomme/3ab494027c6a2f5ea4d4.js"></script>
                    <h4>Twig</h4>
                    <script src="https://gist.github.com/florianbelhomme/b067f243eb1840b3e10c.js"></script>
                </div>
                <div class="small-4 columns">
                    <h4>Rendered HTML</h4>
                    {# The template is optional, there is a option in the configuration to use it by default #}
                    {{ knp_menu_render('FlobFoundationDemoBundle:DemoMenuBuilder:sidebar', { template: 'FlobFoundationBundle:Menu:foundation_knp_menu.html.twig' }) }}
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row" id="pagination">
        <div class="small-12 columns">
            <h3>Pagination</h3>
            <p>Templates are provided that support KNP Paginator & PagerFanta.</p>
            <h4>KNP Paginator</h4>
            <div class="row">
                <div class="small-8 columns">
                    <h4>Twig</h4>
                    <script src="https://gist.github.com/florianbelhomme/dd375cf9a0418a4d46ba.js"></script>
                </div>
                <div class="small-4 columns">
                    <h4>Rendered HTML</h4>
                    {# The template is optional, there is a option in the configuration to use it by default #}
                    {{ knp_pagination_render(paginationKnp, 'FlobFoundationBundle:Pagination:foundation_sliding.html.twig') }}
                </div>
            </div>
            <h4>PagerFanta</h4>
            <div class="row">
                <div class="small-8 columns">
                    <h4>Twig</h4>
                </div>
                <div class="small-4 columns">
                    <h4>Rendered HTML</h4>
                    {# The template is optional, there is a option in the configuration to use it by default #}
                    {{ pagerfanta(paginationFanta) }}
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row" id="alerts">
        <div class="small-12 columns">
            <h3>Alerts</h3>
            <p>With a embed template, you can quickly add the alert box markup.</p>
            <div class="row">
                <div class="small-8 columns">
                    <h4>Twig</h4>
                    <script src="https://gist.github.com/florianbelhomme/504bf3eee6a183ca19ad.js"></script>
                </div>
                <div class="small-4 columns">
                    <h4>Rendered HTML</h4>
                    {% embed 'FlobFoundationBundle:Content:alert.html.twig' %}
                        {% block body %}
                            This is a default alert box.
                        {% endblock %}
                    {% endembed %}
                    {% embed 'FlobFoundationBundle:Content:alert.html.twig' with { class: 'alert round' } %}
                        {% block body %}
                            This is a rounded alert box.
                        {% endblock %}
                    {% endembed %}
                    {% embed 'FlobFoundationBundle:Content:alert.html.twig' with { class: 'info radius' } %}
                        {% block body %}
                            This is an info alert with a radius.
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row" id="forms">
        <div class="small-12 columns">
            <h3>Form</h3>
            <p>A vertical form template manage the display of the fields and errors. Two new widget are provided, the slider and the switch.</p>
            <h4>Rendered HTML</h4>
            {{ form(form) }}
            <hr>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{# Add the JS from CDN #}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{ version_jquery }}/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/{{ version_foundation }}/js/foundation.min.js"></script>

    {# Add the JS from Bundles #}
    {% javascripts
    '@FlobFoundationBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
